/* :root {
--light: #02CCFE;
--dark:#360758;
} */


.search-container {
   
    flex-direction: column;
    background-image: linear-gradient(rgb(161 161 161 / 50%),rgba(0,0,0,.5)), url("./imgs/pets.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.hero-text h1 {
    font-size: 75px;
    margin-block-start: 0;
}

nav li {
    list-style-type: none;
    font-size: 20px;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin-inline: 50px;
}

.header {
    color: var(--dark);
    /* display: flex; */
    align-content:center;
    justify-content: center;
}

.image {
    flex-basis: 20%;
}

#search-results {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header-row-1 {
    font-size: 25px;
    margin: 0px;
    padding-left: 20px;
    text-align: center;
  }


  .hero-text {
    text-align: center;
    color: var(--dark);
  }

#navbar {
    color: var(--dark);
    display: inline-flex;
    align-content:center;
    justify-content: center;
}

#intro {
    color: var(--dark);
    display: flex;
    align-content:center;
    justify-content: center;
    font-size: 25px;
    margin: 0px;
    padding-left: 20px;
}

#intropic {
    display: flex;
    max-width: 20%;
}

#search-btn, #search-input, #search-type {
    background-color: white;
    display: flex;
    align-content:center;
    justify-content: center;
    font-size: 25px;
    margin: 0 auto;
    display: inline-block;
    padding-left: 20px;
}
