

/* Title and introduction of the search engine*/
.search-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    background-image: linear-gradient(rgb(161 161 161 / 50%), rgba(0, 0, 0, .5)), url("./imgs/pets.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
/* Calls the Pet Adoption Assistance h1 which is the big title on the page */
.hero-text h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 75px;
    margin-block-start: 0px;
    display: center;
}
/* Styles the title Pet Adoption Asistance text  */
.title {
    display: center;
    margin: auto;
    padding: 100px;
    color: #d47c11;
    text-shadow: -1px -1px 0 #f8f8f8, 1px -1px 0 #f8f8f8, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* styles the font search results when loaded  */
#search-results {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

/* sets the search results in the center  */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* sets style for the search field instructions  */
#header-row-1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0px;
    padding-left: 20px;
    text-align: center;
}

/* selects and sets all hero text to center */
.hero-text {
    display: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark);
}

    
/* selects the hero intro text description below the title */
#intro {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding-left: 20px;
    text-shadow: -1px -1px 0 #d47c11, 1px -1px 0 #d47c11, -1px 1px 0 #d47c11, 1px 1px 0 #d47c11;
}

/* styles search bar search input text  */
#search-btn,
#search-input {
    background-color: white;
    display: center;
    align-content: center;
    justify-content: center;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    padding-left: 20px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}